@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: rgb(15, 14, 14);
}

header {
    top: 0;
    position: sticky;
    z-index: 3;
}

header nav {
    background-color: rgb(249, 253, 235);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(27, 22, 22);
    font-size: 0.9rem;
}

header nav ul li a:hover {
    color: rgb(255, 165, 0);
    transition: 0.5s;
}

header nav .fa-bars {
    display: none;
    font-size: 1.5rem;
    color: rgb(122, 122, 122);
}

.section-one {
    background-image: linear-gradient(rgba(15, 14, 14, 0.301), rgba(15, 14, 14, 0.301)),  url(images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.section-one .texts {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 2rem 1rem 2rem 5%;
    gap: 1rem;
}

.section-one .texts .texts-1 {
    background-color: rgb(71, 209, 71);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

.section-one .texts .texts-1 h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.section-one .texts .texts-1 P {
    font-size: 1rem;
    font-weight: 900;
}

.section-one .texts .texts-2 {
    color: #fff;
}

.section-one .texts .texts-2 p {
    font-size: 1rem;
    padding-top: 1rem;
}

.section-one .texts .texts-2 h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

.section-one .texts .texts-2 button {
    border: none;
    background: rgb(255, 165, 0);
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    color: #fff;
    margin-top: 1rem;
}

.section-one .texts .texts-2 button:hover {
    background: rgba(255, 166, 0, 0.877);
    transition: 0.5s;
}

article {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
}

.section-two {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.section-two .image-div {
    flex: 40%;
    max-width: 40%;
    position: relative;
}

.section-two .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.section-two .image-div p {
    white-space: nowrap;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
}

.layer {
    position: absolute;
    background: rgba(15, 14, 14, 0.200);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-three {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}

.section-three .texts-1 {
    padding: 1rem 1rem 1rem 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.section-three .texts-1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-three .texts-1 h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section-three .texts-1 p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.section-three .texts-1, .section-three .image-div {
    flex: 50%;
    max-width: 50%;
    position: relative;
}

.section-three .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.section-four {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.section-four .image-div {
    flex: 40%;
    max-width: 40%;
    position: relative;
}

.section-four .image-div img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.section-five {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}

.section-five .texts-1 {
    padding: 1rem 1rem 1rem 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.section-five .texts-1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-five .texts-1 h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section-five .texts-1 p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.section-five .texts-1, .section-five .image-div {
    flex: 50%;
    max-width: 50%;
    position: relative;
}

.section-five .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.section-six {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 1rem; */
    text-align: center;
}

.section-six h1, .section-six p {
    color: #fff;
}

.section-six h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-six p {
    font-size: 0.9rem;
}

.section-six .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.section-six .menu .image-div {
    flex: 40%;
    max-width: 50%;
    /* height: 100%; */
}

.section-six .menu .image-div .image-div-layer {
    position: relative;
}

.section-six .menu .image-div img {
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.section-six .menu .image-div .btn-sec {
    padding: 1rem;
}

.section-six .menu .image-div .btn-sec button {
    border: none;
    background-color: rgb(71, 209, 71);
    color: #000;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    margin-top: 1rem;
}

.section-six .menu .image-div .btn-sec button:hover {
    background: rgb(71, 209, 71, 0.877);
}



.section-seven {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}

.section-seven .texts-1 {
    padding: 1rem 1rem 1rem 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.section-seven .texts-1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-seven .texts-1 h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section-seven .texts-1 p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.section-seven .texts-1, .section-seven .image-div {
    flex: 50%;
    max-width: 50%;
    position: relative;
}

.section-seven .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}



.section-eight {
    background-image: linear-gradient(rgba(15, 14, 14, 0.301), rgba(15, 14, 14, 0.301)),  url(images/img19.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.section-eight .texts {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 5rem 5%;
    gap: 1rem;
}

.section-eight .texts .texts-1 {
    background-color: rgb(71, 209, 71);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

.section-eight .texts .texts-1 h1 {
    font-size: 2rem;
    font-weight: 900;
}

.section-eight .texts .texts-1 P {
    font-size: 1rem;
    font-weight: 900;
}


.section-eight .texts .texts-2 h1 {
    font-size: 2.5rem;
    color: #fff;
}

.section-eight .texts .texts-2 p {
    font-size: 0.9rem;
    color: #fff;
    padding-top: 0.5rem;
}


.section-eight .form-sec {
    padding-top: 1rem;
}

.section-eight .form-sec form {
    display: flex;
    gap: 1rem;
}

.section-eight .form-sec form input {
    outline: none;
    border: none;
    background-color: #fff;
    color: rgb(71, 70, 70);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    width: 400px;
}

.section-eight .form-sec form button {
    border: none;
    background: rgb(71, 209, 71);
    color: #000;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
}

.section-eight .form-sec form button:hover {
    background: rgb(71, 209, 71, 0.877);
}


.section-nine {
    background-color: rgba(15, 14, 14, 0.747);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
    gap: 1rem;
}

.section-nine .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-envelope,  .fa-location-dot, .fa-phone{
    color: #000;
    background-color: rgb(71, 209, 71);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    padding: 1rem;
}

.contact p {
    font-size: 0.9rem;
}

.contact .p-color {
    color: rgb(255, 165, 0);
}


footer {
    background-color: hsl(0, 2%, 10%);
    height: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer p {
    font-size: 0.9rem;
}


@media screen and (min-width: 200px) {
    header nav ul {
        display: none;
    }

    header nav .fa-bars {
        display: block;
    }

    .section-one {
        height: auto;
    }

    .section-one .texts {
        width: 100%;
    }

    .section-one .texts .texts-1 {
        width: 150px;
        height: 150px;
    }

    .section-one .texts .texts-2 h1 {
        font-size: 2.5rem;
    }

    .section-two {
        flex-direction: column;
    }

    .section-two .image-div {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .section-two .image-div p {
        font-size: 1.2rem;
    }

    .section-three {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-three .texts-1, .section-three .image-div {
        flex: 100%;
        max-width: 100%;
    }

    .section-four {
        flex-direction: column;
    }

    .section-four .image-div {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .section-five {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-five .texts-1, .section-five .image-div {
        flex: 100%;
        max-width: 100%;
    }

    .section-six .menu {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .section-six .menu .image-div {
        flex: 100%;
        max-width: 100%;
    }

    .section-seven {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-seven .texts-1, .section-seven .image-div {
        flex: 100%;
        max-width: 100%;
    }

    .section-eight .texts .texts-1 {
        width: 150px;
        height: 150px;
    }

    .section-eight .texts .texts-2 h1 {
        font-size: 2rem;
    }

    .section-eight .form-sec form {
        flex-direction: column;
        padding: 0 1rem 0 0;
        /* gap: 1.5rem; */
        gap: 0;
    }

    .section-eight .form-sec form input {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .section-nine {
        flex-direction: column;
        justify-content: center;
    }

    .contact {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 576px) {
    .section-eight .form-sec form {
        flex-direction: row;
        padding: 0;
        gap: 1rem;
    }

    .section-eight .form-sec form input {
        width: 400px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .section-one .texts {
        width: 400px;
    }

    .section-one .texts .texts-1 {
        width: 200px;
        height: 200px;
    }

    .section-one .texts .texts-2 h1 {
        font-size: 3rem;
    }

    .section-two {
        flex-direction: row;
    }

    .section-two .image-div {
        flex: 40%;
        max-width: 40%;
        margin-bottom: 0;
    }

    .section-two .image-div p {
        font-size: 0.9rem;
    }

    .section-three {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section-three .texts-1, .section-three .image-div {
        flex: 50%;
        max-width: 50%;
    }

    .section-four {
        flex-direction: row;
    }

    .section-four .image-div {
        flex: 40%;
        max-width: 40%;
        margin-bottom: 0;
    }


    .section-five {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section-five .texts-1, .section-five .image-div {
        flex: 50%;
        max-width: 50%;
    }

    .section-six .menu {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-six .menu .image-div {
        flex: 40%;
        max-width: 50%;
    }

    .section-seven {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section-seven .texts-1, .section-seven .image-div {
        flex: 50%;
        max-width: 50%;
    }

    .section-eight .texts .texts-1 {
        width: 200px;
        height: 200px;
    }

    .section-eight .texts .texts-2 h1 {
        font-size: 2.5rem;
    }

    .section-nine {
        flex-direction: row;
        justify-content: space-evenly;
        /* padding: 4rem 2rem; */
    }

    .contact {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px){
    header nav ul {
        display: flex;
    }

    header nav .fa-bars {
        display: none;
    }

    .section-one .texts {
        width: 500px;
    }

    .section-one .texts .texts-2 h1 {
        font-size: 3.5rem;
    }
}
